/* NAV BAR SECTION */
.navbar{
    background-color: #f07020 !important;
}
.navbar-brand{
    color:#031731 !important;
    font-weight: bolder;
    font-size: xx-large;
    padding-left: 10px;
}
.navbar-nav a{
    color:#031731 !important;
    font-weight: bold;
    font-size: larger;
    }
    .navbar-nav a:hover{
        color: white !important;
    }
.navbar-nav{
/* padding-left: 680px; */
gap: 20px;
}
.navbar img{
    margin-left: 30px;
}
.dropdown-menu{
    background-color: #f07020;
}
.dropdown-item:hover{
    background-color: rgb(138, 245, 138);
}
@media (max-width: 991px) {
.navbar-nav {
    text-align:center;

  }
}
.marq{
    font-weight: 900;
    font-size: x-large;
}
body{
    background-color: #f1cdb7;
    margin: 0;
}
/* HERO SECTION */
.heros{
    background-image: url(images/hero.jpg);
        background-size: cover;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.heros h1, .heros p{
    color: rgb(239, 245, 240);
}
.heros p{
    font-size: larger;
}
.heros .btn{
    background-color: #f07020 !important;
    color: azure;
    border: none;
}
/* ABOUT SECTION */
.about{
    padding: 50px 0;
    text-align: center;
}
.about h2{
    font-weight: bold;
    font-size: xx-large;
    color:#813506 !important;
}
.about h2:hover{
    color: black !important;
}
.row h4{
    font-weight: bold;
    font-size:x-large;
    color: #813506 !important;
    padding-top: 50px;
}
.row h4:hover{
    color: black !important;
}
.row p{
    font-weight:bold;
    font-size: larger;
    color:#813506 !important;
    padding-top: 20px;
}
.row p:hover{
    color: black !important;
}
.row .img1{
    /* padding-top: 70px; */
    border-radius: 20px;
    box-shadow: 3px 5px 3px orange;
}
.row .img1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/* menu section */
.menu h2{
    color: #813506;
    text-align: center;
    margin: 30px;
}
.row{
    padding-top: 20px;
}
.row .btn{
    background-color: #f07020 !important;
    color: azure;
}
/* GALLERY SECTION */
.gallery h2{
    text-align: center;
    color:#813506
    /* margin-bottom: 40px; */
    /* padding-top: 150px; */
}
.gallery h2:hover{
    color: black;
}
.gallery img {
    width: 100%;
    height: 300px;   
    object-fit: cover;
    border-radius: 10px;
}


@media (min-width: 992px) {
    .gallery img {
        height: 350px;
    }
}

/* CONTACT SECTION */
          .contacts{
            height: 90vh;
            /* padding: 20px; */
            /* background: linear-gradient(45deg, rgb(221, 147, 147), rgb(212, 149, 159), rgb(153, 153, 238)); */
             }
         .contacts h2{
                text-align: center;
                font-size: 36px;
                color:#813506
            }
                .contacts h2:hover{
                    color: black;
                }
            .contacts form{
                width: 400px;
                margin: auto;
                margin-top: 20px;
                padding: 20px;
                height: fit-content;
            }
            .contacts legend{
                font-weight: 1000;
                text-align: center;
                color: #813506
                /* padding-right: 70px; */
            }
            .contacts fieldset{
                height: 400px;
                border-color:rgb(27, 8, 169);
                border-style:double;
                height: fit-content;
                width: 450px;
                border-radius: 20px;
            }
            .contacts label{
                font-weight: 700;
                color: rgb(18, 18, 19);
            }
            .contacts input, .contacts textarea{
                width: 400px;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
            .contacts button{
                /* width: 100px; */
                padding: 10px;
                background-color:#f07020;
                color: white;
                border: none;
                border-radius: 5px;
                align-content: center;
                /* margin-left: 150px; */
                 display: block;
                margin: 10px auto;
                
             }
            /* FOOTER SECTION */
                .footer{
                    /* height: 70vh; */
                    padding: 40px 0;
                    /* margin-top: 30px; */
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    background-color: #f07020;
                    color: white;
                    grid-template-areas: "l p p p" "row1 row2 row3 row4" "row5 row5 row6 row6";
                     grid-template-rows: auto;
                    }
                    #logo{
                        grid-area:l;
                        font-size:xx-large;
                        margin-left: 60px;
                        margin-top: 20px;
                       color: #031731;
                    }
                     #logo:hover{
                        color: white;
                     }
                    .footer p{
                        grid-area: p;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    color:#031731;
                   margin-top: 20px;
                }
                .footer .row1{
                    grid-area: row1;
                    justify-content: center;
                    gap: 10px;
                    margin-left:0;
                    text-align: center;
                }
                .row1 li{
                    list-style-type: none;
                }
                .row1 li a {
                    text-decoration: none;
                    color: #031731;
                    font-weight: bold;
                }
                .footer .row1 h4{
                    color:#031731;
                    }
                .footer .row2{
                    grid-area: row2;
                    justify-content: center;
                    gap: 10px;
                    margin-left:0;
                    text-align: center;
                }
                .footer .row2 li{
                    list-style-type: none;
                    color: #031731;
                    font-weight: bold;
                }
                .footer .row2 h4{
                    color:#031731;
                    /* font-size: 18px; */
                }
                .footer .row3{
                    grid-area: row3;
                    justify-content: center;
                    gap: 10px;
                    margin-left:0;
                    text-align: center;
                }
                .footer .row3 h4{
                    color: #031731;
                }
                .footer .row3 li{
                    list-style-type: none;
                    color: #031731;
                    font-weight: bold;
                }
                .footer .row4{
                    grid-area: row4;
                    justify-content: center;
                    gap: 10px;
                    margin-left:0;
                    text-align: center;
                }
                .footer .row4 h4{
                    color: #031731;
                }
                .footer .row4 li{
                 list-style-type: none;
                }
                 .row4 li a{
                    color: #031731;
                text-decoration: none;
                font-weight: bold;
                }
               .row5 {
                 grid-area: row5;
                  text-align: center;
                  color: #031731;
                   }
                .row6 p{
                    grid-area: row6;
                     text-align: center;
                        color:#031731;
                      /* margin-left: 100px; */
                }
                @media(max-width: 1024px){
    .footer{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "l"
            "p"
            "row1"
            "row2"
            "row3"
            "row4"
            "row5"
            "row6";
        grid-template-rows: auto;
    }
}